<style type="text/css"> 
<!-- 

A {
	COLOR:maroon; font-family: "細明體"; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0268fb
}
.text {
	FONT-SIZE: 11px; COLOR: #000000;font-family: "細明體";
}
.link { font-family: "細明體"; font-size: 9pt;color:#000000}
--> 
BODY {	FONT-FAMILY: 新細明體; FONT-SIZE: 9pt;}

</style>